/* rules for profile__image element */

.profile__image {
  object-fit: contain;
  object-position: center center;
}

/*
@media screen and (max-width: 618px) {
  .profile__image {
    margin-top: 42px;
  }
}
*/
