/* rules for button_type_gallery-like modifier */

.button_type_gallery-like {
  width: 22px;
  height: 19px;

  background: top left / cover
    url("../../../images/buttons/like/buttons_like.svg");

  transition: opacity 0.15s ease, background-image 0.15s ease;
}

.button_type_gallery-like:hover {
  opacity: 0.5;
}

.button_type_gallery-like:active {
  background-image: url("../../../images/buttons/like/buttons_like_active.svg");

  opacity: 1;
}
