/* rules for button_type_profile-edit modifier */

.button_type_profile-edit {
  width: 24px;
  height: 24px;

  margin: 0 0 0 18px;

  background: center center / contain
    url("../../../images/buttons/edit/buttons_edit.svg");

  transition: opacity 0.15s ease;

  grid-column: 2;
  grid-row: 1;
}

.button_type_profile-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 928px) {
  .button_type_profile-edit {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 628px) {
  .button_type_profile-edit {
    margin: 0 0 0 10px;

    order: 2;
  }
}
