/* rules for header__logo element */

.header__logo {
  width: 142px;
  height: 33px;

  padding-bottom: 41px;
}

@media screen and (max-width: 928px) {
  .header__logo {
    width: 103.7px;
    height: 24.4px;

    padding-bottom: 31.6px;
  }
}

@media screen and (max-width: 628px) {
  .header__logo {
    margin-left: 27px;
  }
}
