/* rules for header__logo element */

.header__logo {
  width: 142px;
  height: 33px;

  /* this value is not taken from figma
   * but adjusted to be more pixel-perfect
   */
  padding-bottom: 37px;
}

@media screen and (max-width: 928px) {
  .header__logo {
    width: 103.7px;
    height: 24.4px;

  /* this value is not taken from figma
   * but adjusted to be more pixel-perfect
   */
    padding-bottom: 25.6px;
  }
}

@media screen and (max-width: 628px) {
  .header__logo {
    margin-left: 27px;
  }
}
