/* rules for form__heading element */

.form__heading {
  margin: 34px 0 0 36px;

  font-size: 24px;
  line-height: 29px;
  font-weight: 900;

  color: #000;

  cursor: default;
}

@media screen and (max-width: 928px) {
  .form__heading {
    margin: 25px 0 0 22px;

    font-size: 18px;
    line-height: 22px;
  }
}
