/* rules for gallery__item-name element */

.gallery__item-name {
  max-width: 188px;

  margin: 0;

  font-size: 24px;
  /* Original figma line-height swapped for
   * pixel-perfect value 
   *
  line-height: 29px;
   */
  line-height: 28px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;

  overflow: hidden;

  color: #000;
}
