/* rules for form__button_type_profile-add-img modifier */

.form__button_type_profile-add-img {
  width: 150px;
  height: 50px;

  background: center center / contain
    url("../../../../images/buttons/buttons_add.svg") no-repeat;

  transition: opacity 0.15s ease;
}

.form__button_type_profile-add-img:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .form__button_type_profile-add-img {

    /* "add button" size for w:767px calculated 
     * based on "edit button" size: 75% of initial
     */
    width: 112.5px; 
    height: 37.5px;
  }
}
