/* rules for form__button_type_popup-close modifier */

.form__button_type_popup-close {
  width: 32px;
  height: 32px;

  background: top left / cover
    url("../../../../images/buttons/close/buttons_close.svg");

  transition: opacity 0.15s ease;

  position: absolute;
  top: -42px;
  right: -39px;
}

.form__button_type_popup-close:hover {
  opacity: 0.6;
}
