/* form__button_type_gallery-like modifier */

.form__button_type_gallery-like {
  width: 22px;
  height: 19px;

  background: top left / cover
    url("../../../../images/buttons/buttons_like.svg");

  transition: opacity 0.15s ease, background-image 0.15s ease;
}

.form__button_type_gallery-like:hover {
  opacity: 0.6;
}

.form__button_type_gallery-like:active {
  background-image: url("../../../../images/buttons/buttons_like_active.svg");

  opacity: 1;
}
