/* rules for profile__user-data-container element */

.profile__user-data-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 628px) {
  .profile__user-data-container {
    flex-direction: column;
  }
}
