/* rules for profile__button-add element */

.profile__button-add {
  width: 150px;
  height: 50px;

  background: center center / contain
    url("../../../images/buttons/add/buttons_add.svg") no-repeat;

  transition: opacity 0.15s ease;
}

.profile__button-add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 928px) {
  .profile__button-add {
    /* "add button" size for w:943 calculated 
     * based on "edit button" size: 75% of initial
     */
    width: 112.5px;
    height: 37.5px;
  }
}

@media screen and (max-width: 628px) {
  .profile__button-add {
    width: 282px;
    height: 50px;

    margin-top: 36px;

    background: center center / contain
      url("../../../images/buttons/add/buttons_add_wide.svg") no-repeat;
  }
}
