/* rules for profile__info element */

.profile__info {
  margin-left: 30px;

  flex-grow: 1;

  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, 1fr);
  align-items: end;
}
