/* rules for profile__user-name element */

.profile__user-name {
  max-width: 294px; 

  margin: 0;

  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;

  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .profile__user-name {
    max-width: 189px;

    font-size: 27px;
    line-height: 32px;
  }
}

@media screen and (max-width: 618px) {
  .profile__user-name {
    margin-left: 27px;

    /* This value is not taken from
     * Figma, but adjusted to be pixel perfect
     */
    line-height: 27px;

    order: 1;
  }
}
