/* rules for profile__user-name element */

.profile__user-name {
  height: 39px;

  margin: 0;

  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .profile__user-name {
    height: 26px;

    font-size: 27px;
    line-height: 32px;
  }
}

@media screen and (max-width: 593px) {
  .profile__user-name {
    margin-left: 27px;

    order: 1;
  }
}
