/* rules for page__footer element */

.page__footer {
  margin-top: 66px;
  margin-bottom: 60px;
}

@media screen and (min-width: 629px) and (max-width: 928px) {
  .page__footer {
    /* property calculated as 75% of initial value */
    margin-top: 49.5px;
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 628px) {
  .page__footer {
    margin-top: 48px;
    margin-bottom: 36px;
  }
}
