/* rules for form__input element */

.form__input {
  width: 100%;

  margin: 0 0 5px 0;
  padding: 0 0 10px 0;

  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;

  background-color: transparent;
  color: #000;

  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;

  box-sizing: border-box;

  display: block;
}

.form__input:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.form__input::placeholder {
  color: #c4c4c4;
}
